<app-header title="Task Details"></app-header>

<ion-content class="ion-padding">
  <ion-back-button defaultHref="/tasks/tasks-home"></ion-back-button>

  <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <div class="form-header">
      <h2>{{ task.title }}</h2>
      <p>Created on: {{ task.date | date:'short' }}</p> 
    </div>

    <!-- Title -->
    <ion-item>
      <ion-label position="floating">Task Title</ion-label>
      <ion-input formControlName="title" type="text" placeholder="Enter task title" [readonly]="!isEditing"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">
      ⚠️ Title is required.
    </ion-text>

    <!-- State -->
    <ion-item [disabled]="!isEditing">
      <ion-label>Current Status</ion-label>
      <ion-select formControlName="state" interface="popover">
        <ion-select-option [value]="false">In Progress</ion-select-option>
        <ion-select-option [value]="true">Completed</ion-select-option>
      </ion-select>
    </ion-item>
    

    <!-- Description -->
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" placeholder="Describe your task here..." [readonly]="!isEditing"></ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched">
      ⚠️ Description is required.
    </ion-text>

    <!-- Edit/Save Button -->
    <ion-button expand="full" (click)="toggleEditMode()">
      <ion-icon [name]="isEditing ? 'save-outline' : 'create-outline'" slot="start"></ion-icon>
      {{ isEditing ? 'Save Task' : 'Edit Task' }}
    </ion-button>
  </form>
  <div class="delete-button-container">
    <ion-button color="danger" (click)="deleteTask()" class="delete-button">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Delete Task
    </ion-button>
  </div>

</ion-content>

@if (showInvalidnotification) {
  <app-notification message="Invalid Fields!" icon="ban" color="--ion-color-danger" (confirm)="showInvalidnotification = false"></app-notification>
}

@if (showDeletenotification) {
  <app-notification message="Task Deleted Successfully" icon="trash" color="--ion-color-danger" (confirm)="showDeletenotification = false"></app-notification>
}

@if (showChangednotification) {
  <app-notification message="Task Updated Succesfully" icon="checkmark-circle" (confirm)="showChangednotification = false"></app-notification>
}

