<ion-card class="task-form-card">
  <button class="close-button" (click)="closeForm()">
    <ion-icon name="close"></ion-icon>
  </button>
  
  <ion-card-header>
    <ion-card-title>✏️ Agregar Nueva Tarea</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <ion-item>
          <ion-label position="floating">📌 Título</ion-label>
          <ion-input formControlName="title" type="text"></ion-input>
        </ion-item>
      </div>
      <ion-text color="danger" *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">
        ⚠️ Title is required.
      </ion-text>

      <div class="form-group">
        <ion-item>
          <ion-label position="floating">📝 Descripción</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
      </div>
      <ion-text color="danger" *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched">
        ⚠️ Description is required.
      </ion-text>

      <ion-button expand="full" type="submit" [disabled]="taskForm.invalid">
        ✅ Agregar Tarea
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>



